<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>メニュー</title>
</head>
<body>
	<h2>メニュー画面</h2>
	<hr>
	<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/atsumori}">
		生き物一覧へ
	</a>
	<br>
	<a sec:authorize="hasAuthority('USER')" th:href="@{/atsumori}">
		生き物一覧へ
	</a>
	<div sec:authentication="name">
		ログイン情報のname値に書き換わる
	</div>
	<div th:text="${#authentication.principal.displayname}">
		新たに追加したdisplayname値に置き換わる
	</div>
	<div sec:authorize="isAuthenticated()">
		認証されたユーザーにのみ表示
	</div>
	<br>
	<!-- ログアウト -->
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="ログアウト">
	</form>
</body>
</html>